body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: #eee;
}
.aside {
	height: 625px !important;
}
.side {
	position: absolute;
  top: 5%;
  left: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  z-index: 10;
  background: transparent;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 0px;
}